// TODO: These look cringe, but import causes a warning...
@use "@fontsource/roboto" as *;
@use "@fontsource/roboto-slab" as *;
@use "@fontsource/roboto-slab/200" as *;
@use "@fontsource/roboto-slab/300" as *;

$background-color: #0c0c0c;
$header-color: #ef9af2;
$synth-blue: #6df1d8;
$link-color: #b8aec8;

html {
    font-size: 1em;
    padding-bottom: 10em;
}

body {
    margin: 0;
    font-family: "Roboto Slab";
    background-color: $background-color;
}

button {
    font-family: "Roboto Slab";
}

.blue-text {
    color: $synth-blue;
}

a {
    color: $link-color;
    text-decoration: underline solid transparent;
    transition: text-decoration 800ms ease;
    transition: color 800ms ease;
}

a:hover {
    color: $synth-blue;
    text-decoration: underline solid currentColor;
}

code {
    color: $header-color;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-image: url("../lib/assets/don.jpg");
    background-position: center top;
    background-color: rgb(70, 46, 70);
    background-blend-mode: soft-light;

    text-align: center;

    h1 {
        margin: 0;
        color: rgb(255, 255, 255, 0.7);
    }

    button {
        font-size: 2rem;
        font-weight: 300;
        padding: 0.5rem;
    }

    &-top {
        margin-top: 2rem;

        h1 {
            font-family: "Roboto";
            font-size: 6em;
        }
    }

    &-center {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        margin-top: -10%;

        h1 {
            font-size: 3em;
            font-weight: 200;
            margin: 1rem;
        }
    }

    &-bottom {
        margin-bottom: 2rem;
    }
}

.main-content {
    // margin-left: 25%;
    // margin-right: 25%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2em;
    scroll-margin: 2em;

    min-height: 100vh;

    font-size: 1.25rem;

    h1 {
        color: $header-color;
        margin: 0;
    }

    color: ghostwhite;
}
